$primary-border-color: rgb(219,219,219);
$highligth-background:   rgb(239,239,239);
header{

    left:0px;
    top:0px;
    right:0px;
    border-bottom: 1px solid $primary-border-color;
    height: 56px;
    nav{
      background-color: aliceblue;
      width: 100%;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 1.25rem;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .left-menu{
        display: flex;
        justify-content: flex-start;
      }
      .burguer{
        cursor: pointer;
        border: none;
        margin:0;
        padding: 0;
        background-color: transparent;
      }
      .burguer span{
        display: flex;
        background-color: black;
        height: 3px;
        width: 28px;
        margin: 10px auto;
        border-radius: 2px;
        position: absolute;
        top:5px;
        left:5px;
      }
      .logo{
        max-width: 100%;
        width: 30px;
        height: 30px;
        img{
          width:100%;
        }
      }
        .centered-navigation{
          display: flex;
          .search{
            input{
              border: none;
              background-color: $highligth-background;
              width: 100%;
              max-width: 420px;
              height: 40px;
              border-radius: .8rem;
              padding-left: 1rem;
              padding-right: 1rem;
              object-fit: contain;
              background: $highligth-background;
              margin-left:25px;
             }
             img{
              position: absolute;
              top: 52px;
              left:335px;
            }
            .nav-actions{
              ul >li{
                list-style: none;
                float:right;
                gap: 20px;
                li{
                  a{
                    img{
                      display:block;
                      height: 36px;
                      width: 36px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  @media only screen and (max-width:425px){
      nav{
        .centered-navigation .btn-outline-primary .search{
          display: flex;
        }
      }
  }
  @media only screen and (min-width:768px){
     btn-white{
      display:none;
    }
  }
  .icon-button {
    position: relative;
    display: flex;
  }
  @media only screen and (max-width:768px) {
    .burguer{
      display:flex;
    }
  }
  aside{
    color: black;
  }
  .container-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    margin: 15px;
  }
  .container-tags {
    height: 300px;
    border: solid white;
    overflow-y: scroll;
  }
  @media only screen and (max-width: 767px) {
    aside {
      display: none;
    }
  }
  .bi {
    &:hover {
      list-style-type: underline;
      background-color: $highligth-background;
      transition: 500ms;
    }
  }